{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} Home{%endblock%}

{% block body%}
<div>
<h1>Morais Parking</h1>
</div>

{% if messages %}
{% for message in messages %}
<script type="text/javascript">
  alert('{{message}}')
</script>
{% endfor %}
{% endif %}

<form method="POST">
    <h1>Cadastro de Ocorrências</h1>
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success" method='post'>Registrar</button>
    <a class="btn btn-secondary" href="{% url 'index'%}"> Voltar</a>
</form>

{% endblock%}